.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  width: 100%;
}
.header__image {
  width: 173px;
}
@media screen and (max-width: 880px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__image {
    width: 126px;
    padding-left: 27px;
  }
}
