.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  animation: modal-open 0.5s;
  z-index: 200;
  max-width: 100%;
}
.overlay__opened {
  display: flex;
  flex-direction: column;
}
.popup {
  position: absolute;
  display: none;
  top: -195px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 20px;
  margin-top: 500px;
  z-index: 200;
}

.popup__close-icon {
  background-image: url(../images/closeicon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  align-self: flex-end;
  box-shadow: #000;
}
.popup__close-icon:hover {
  opacity: 50%;
}
.popup__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 358px;
  padding-left: 35px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.popup__input-name {
  margin-bottom: 30px;
  width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}
.popup__input-about-me {
  margin-bottom: 30px;
  width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
}
.popup__submit-button {
  border: 1px solid #000000;
  width: 358px;
  height: 50.15px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.popup__submit-button:hover {
  opacity: 50%;
}
.popup__submit-button-active {
  background: black;
  color: white;
}
.popup__image {
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 75vw;
}
.popup__photo {
  max-height: 75vh;
  max-width: 75vw;
}
.popup__name {
  align-self: flex-start;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: white;
}
.popup__image-close-icon {
  background-image: url(../images/closeicon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: -40px;
  align-self: flex-end;
  justify-self: flex-end;
  box-shadow: #000;
}
.popup__image-close-icon:hover {
  opacity: 50%;
}
.popup__opened {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .popup {
    width: 282px;
  }
  .popup__close-icon {
    width: 26px;
    right: 5%;
    top: -45px;
  }
  .popup__form {
    align-items: center;
    width: 238px;
    padding-left: 22px;
  }
  .popup__input-name {
    width: 238px;
  }
  .popup__input-about-me {
    width: 238px;
  }
  .popup__submit-button {
    width: 238px;
  }
}
